/**********************/
/* Hotspot trigger animations*/
/**********************/


/* Animations */

@keyframes ripple {
    0% { transform: scale(1); opacity: .8; }
    45% { transform: scale(1.75); opacity: 0; border-width: 10; }
}

/* Ripple */

.wdt-hotspot-ripple:before { -webkit-animation: ripple 3s ease-out infinite; animation: ripple 3s ease-out infinite; }

.wdt-hotspot-ripple:before { position: absolute; z-index: -1; width: 100%; height: 100%;
    content: ''; opacity: 0; border-width: 2px; border-style: solid; border-color: inherit; border-radius: inherit; }

.wdt-hotspot-item-active .wdt-hotspot-item-trigger.wdt-hotspot-ripple:before { -webkit-animation-play-state: paused; animation-play-state: paused; }

/**********************/
/* Tooltip animations*/
/**********************/

/* Scale */

.tippy-box[data-animation=scale][data-placement*=top] { transform-origin: bottom; }
.tippy-box[data-animation=scale][data-placement*=bottom] { transform-origin: top; }
.tippy-box[data-animation=scale][data-placement*=left] { transform-origin: right; }
.tippy-box[data-animation=scale][data-placement*=right] { transform-origin: left; }
.tippy-box[data-animation=scale][data-state=hidden] { transform: scale(.5); opacity: 0; }

/* Perspective */

.tippy-box[data-animation=perspective][data-placement^=top] { transform-origin: bottom; }
.tippy-box[data-animation=perspective][data-placement^=top][data-state=visible] { transform: perspective(700px); }
.tippy-box[data-animation=perspective][data-placement^=top][data-state=hidden] { transform: perspective(700px) translateY(8px) rotateX(60deg); }
.tippy-box[data-animation=perspective][data-placement^=bottom] { transform-origin: top; }
.tippy-box[data-animation=perspective][data-placement^=bottom][data-state=visible] { transform: perspective(700px); }
.tippy-box[data-animation=perspective][data-placement^=bottom][data-state=hidden] { transform: perspective(700px) translateY(-8px) rotateX(-60deg); }
.tippy-box[data-animation=perspective][data-placement^=left] { transform-origin: right; }
.tippy-box[data-animation=perspective][data-placement^=left][data-state=visible] { transform: perspective(700px); }
.tippy-box[data-animation=perspective][data-placement^=left][data-state=hidden] { transform: perspective(700px) translateX(8px) rotateY(-60deg); }
.tippy-box[data-animation=perspective][data-placement^=right] { transform-origin: left; }
.tippy-box[data-animation=perspective][data-placement^=right][data-state=visible] { transform: perspective(700px); }
.tippy-box[data-animation=perspective][data-placement^=right][data-state=hidden] { transform: perspective(700px) translateX(-8px) rotateY(60deg); }
.tippy-box[data-animation=perspective][data-state=hidden] { opacity: 0; }

/* shift-away */

.tippy-box[data-animation=shift-away][data-state=hidden] { opacity: 0; }
.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=top] { transform: translateY(10px); }
.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=bottom] { transform: translateY(-10px); }
.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=left] { transform: translateX(10px); }
.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=right] { transform: translateX(-10px); }

/* shift-toward */

.tippy-box[data-animation=shift-toward][data-state=hidden] { opacity: 0; }
.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=top] { transform: translateY(-10px); }
.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=bottom] { transform: translateY(10px); }
.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=left] { transform: translateX(-10px); }
.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=right] { transform: translateX(10px); }

/* Others */

.wdt-hotspot-holder { position: relative; display: block; width: 100%; height: 100%; }
.wdt-hotspot-holder .wdt-hotspot-repeater-item { position: absolute; cursor: pointer; }

.wdt-hotspot-item-trigger { position: relative; display: -webkit-box; display: -ms-flexbox;
    display: flex; align-items: center; flex-flow: row nowrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; 
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 8px;
    -webkit-transition: var(--wdtBaseTransition); transition: var(--wdtBaseTransition);
    -webkit-transform: translateZ(0); transform: translateZ(0);

    border-color: #fff; border-radius: 50%; background-color: #fff; }

.wdt-hotspot-item-active .wdt-hotspot-item-trigger { border-color: #fff; background-color: #fff; }
.wdt-hotspot-item-trigger > *:not(:last-child) { margin: 0 10px 0 0; }

/* Hotspot Item Default */

.wdt-hotspot-item-trigger div[class*="wdt-hotspot-item-"] { line-height: 1; display: inline-flex; align-items: center; 
    justify-content: center; -webkit-transition: var(--wdtBaseTransition); 
    transition: var(--wdtBaseTransition); color: #fff; }

.wdt-hotspot-item-active .wdt-hotspot-item-trigger .wdt-hotspot-item-default { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

/* Tool Tip */

.wdt-hotspot-item-tooltip { display: none; visibility: hidden; }

.wdt-hotspot-holder .tippy-box { padding: 0; border-radius: 0; background-color: #fff; color: #000;  }
.wdt-hotspot-holder .tippy-box .tippy-content { padding: 14px 10px; border-radius: 0; }
.wdt-hotspot-holder .tippy-box .tippy-arrow { color: #fff; }

.wdt-hotspot-holder .tippy-box .tippy-content h3 { line-height: 1; margin: 0 0 8px; 
    -webkit-transition: var(--wdtBaseTransition); transition: var(--wdtBaseTransition); }

.wdt-hotspot-holder .tippy-box .tippy-content p { margin: 0; }


.wdt-hotspot-holder .wdt-hotspot-repeater-item:nth-child(1) { left:5%; right:auto; top:20%; bottom:auto; }
.wdt-hotspot-holder .wdt-hotspot-repeater-item:nth-child(2) { left:24%; right:auto; top:48%; bottom:auto; }
.wdt-hotspot-holder .wdt-hotspot-repeater-item:nth-child(3) { left:43%; right:auto; top:1%; bottom:auto; }
.wdt-hotspot-holder .wdt-hotspot-repeater-item:nth-child(4) { left:53.5%; right:auto; top:40%; bottom:auto; }
.wdt-hotspot-holder .wdt-hotspot-repeater-item:nth-child(5) { left:66%; right:auto; top:7%; bottom:auto; }
.wdt-hotspot-holder .wdt-hotspot-repeater-item:nth-child(6) { left:85%; right:auto; top:15%; bottom:auto; }
.wdt-hotspot-holder .wdt-hotspot-repeater-item:nth-child(7) { left:84%; right:auto; top:45%; bottom:auto; }



/* =============================================================================================================================================== */


/**********************
    Interactive Simple
**********************/


.wdt-link-interactive-holder { display: block; width: 100%; height: 100%; background-color: #f6f6f6; padding: 120px 100px; }

.wdt-link-interactive-holder .wdt-link-showcase-items { position: relative; }

.wdt-link-interactive-holder .wdt-link-showcase-content-items { text-align: center; }
.wdt-link-interactive-holder .wdt-link-showcase-content-items .wdt-link-showcase-item { position: relative; display: inline-block; width: auto;
    padding: 0; margin: clamp(0.75rem, 0.6346rem + 0.5128vw, 1.25rem) /* 12 - 20 */ clamp(1.75rem, 1.4327rem + 1.4103vw, 3.125rem) /* 28 - 50 */; 
    font-size: clamp(1.75rem, 1.6058rem + 0.641vw, 2.375rem); /* 28 - 38 */ line-height: normal; 
    transition: var(--wdtAltTransition); }

.wdt-link-interactive-holder .wdt-link-showcase-content-items .wdt-link-showcase-item:before { pointer-events: none;
    content: ""; width: 8px; height: 8px; position: absolute; top: 50%; left: calc(-1 * clamp(1.75rem, 1.4327rem + 1.4103vw, 3.125rem)); /* (-28) - (-50) */
    -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: rgba(0,0,0,0.3); border-radius: 50%; }

.wdt-link-interactive-holder .wdt-link-showcase-content-items .wdt-link-showcase-item:after { pointer-events: none;
    content: ""; width: 8px; height: 8px; position: absolute; top: 50%; right: calc(-1 * clamp(1.75rem, 1.4327rem + 1.4103vw, 3.125rem)); /* (-28) - (-50) */
    -webkit-transform: translate(50%, -50%); transform: translate(50%, -50%); background-color: rgba(0,0,0,0.3); border-radius: 50%; }

.wdt-link-interactive-holder .wdt-link-showcase-content-items .wdt-link-showcase-item a { color: rgba(0,0,0,0.3); }
.wdt-link-interactive-holder .wdt-link-showcase-content-items .wdt-link-showcase-item a:hover,
.wdt-link-interactive-holder .wdt-link-showcase-content-items .wdt-link-showcase-item a:focus { color: rgba(0,0,0,1); }

.wdt-link-interactive-holder .wdt-link-showcase-content-items .wdt-link-showcase-item .wdt-link-show-title-group { position: relative; z-index: 1; }


.wdt-link-interactive-holder .wdt-link-showcase-content-items .wdt-link-showcase-item .wdt-link-follow-content { 
    position: absolute; width: 100%; max-width: 400px; top: 0; left: 0; pointer-events: none; 
    -webkit-user-select: none; user-select: none; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.wdt-link-interactive-holder .wdt-link-showcase-content-items .wdt-link-showcase-item .wdt-link-follow-content .wdt-link-follow-image { position: absolute; 
    display: flex; left: 0; top: 0; width: 100%; height: 100%; align-items: center; justify-content: center; opacity: 0; transform-origin: top left;
    transform: scaleY(1.5) skewY(3deg); transition: transform .3s cubic-bezier(.22,.61,.36,1); -webkit-user-select: none; user-select: none; }

.wdt-link-interactive-holder .wdt-link-showcase-content-items .wdt-link-showcase-item:hover .wdt-link-follow-content .wdt-link-follow-image {
    opacity: 1; transform: scaleY(1) skewY(0); transition: transform .56s cubic-bezier(.22,.61,.36,1); }


/**********************
    Interactive template
**********************/


.wdt-interactive-template-holder { display: block; width: 100%; height: 100%; }

.wdt-template-showcase-items { display: grid; grid-template-columns: 1fr 3fr; gap: 40px; }
.wdt-template-showcase-items .wdt-interactive-temp-content { position: relative; }
.wdt-template-showcase-items .wdt-interactive-temp-content .wdt-template-showcase--items { 
    display: grid; grid-template-columns: 2fr 1fr; gap: 40px; }
.wdt-template-showcase-items .wdt-interactive-temp-content .wdt-template-showcase--items .wdt-template-follow-card { 
    grid-column: 2/3; grid-row: 1/3; align-self: center; position: relative; }

.wdt-template-showcase-items .wdt-interactive-temp-content .wdt-template-showcase--items .wdt-temp-active-title {
    text-align: center; font-size: 130px; opacity: 0.15; line-height: normal; margin-bottom: -10%; margin-left: -20%; margin-right: -20%; }

.wdt-template-showcase-items .wdt-interactive-temp-content .wdt-template-showcase--items .wdt-template-follow-content {
    width: 100%; max-width: 640px; margin: 0 auto; position: relative; }

.wdt-template-showcase-items .wdt-interactive-temp-content .wdt-template-content-item:first-child { position: relative; }
.wdt-template-showcase-items .wdt-interactive-temp-content .wdt-template-content-item { 
    position: absolute; left: 0; top: 0; width: 100%; height: 100%;
    align-items: center; justify-content: center; opacity: 0; transform: scaleY(1.1) skewY(3deg); 
    transition: opacity .3s ease-out,transform .3s cubic-bezier(.22,.61,.36,1); }

.wdt-template-showcase-items .wdt-interactive-temp-content .wdt-template-content-item.wdt-active {
    opacity: 1; transform: scaleY(1) skewY(0); transition: opacity .3s ease-out,transform .56s cubic-bezier(.22,.61,.36,1); }


.wdt-template-showcase-items .wdt-template-showcase-content-items { display: flex; flex-direction: column; }
.wdt-template-showcase-items .wdt-template-showcase-content-items .wdt-template-main-action { margin: auto 0 40px; }

.wdt-template-showcase-items .wdt-template-main-action .wdt-temp-showcase-item .wdt-template-showcase--title { 
    font-size: clamp(1.25rem, 1.1346rem + 0.5128vw, 1.75rem) /*20 - 28*/; margin: 0; }
.wdt-template-showcase-items .wdt-template-main-action > .wdt-temp-showcase-item { cursor: pointer; }
.wdt-template-showcase-items .wdt-template-main-action > .wdt-temp-showcase-item:not(:last-child) { 
    margin-bottom:  clamp(0.625rem, 0.4231rem + 0.8974vw, 1.5rem) /*10 - 24*/; }

.wdt-template-showcase-items .wdt-template-main-action > .wdt-temp-showcase-item .wdt-icon-wrapper { -webkit-transform: scale(0); transform: scale(0);
    font-size: 1rem; padding: 4px 16px; border: 2px solid; border-radius: 20px; position: relative; display: inline-flex; margin-left: 6px;
    -webkit-transition: var(--wdt-Ad-Transition); transition: var(--wdt-Ad-Transition); }
            
.wdt-template-showcase-items .wdt-template-main-action > .wdt-temp-showcase-item { opacity: 0.3; 
    -webkit-transition: var(--wdt-Ad-Transition); transition: var(--wdt-Ad-Transition); }
.wdt-template-showcase-items .wdt-template-main-action > .wdt-temp-showcase-item.wdt-active { opacity: 1; }
.wdt-template-showcase-items .wdt-template-main-action > .wdt-temp-showcase-item.wdt-active .wdt-icon-wrapper {
    -webkit-transform: scale(1); transform: scale(1); }


/* Common Heading Style */

.section-heading-wrapper .wdt-heading-wrapper h2 { margin: 0px; }
.section-heading-wrapper > div:not(:last-child) { margin: 0 0 12px; }

